body {
    background: linear-gradient(
            to right,
            rgb(113, 65, 168),
            rgba(44, 114, 251, 1)
    )
}

.RedBolck {
    background-color: red;
}

.template-app {
    /* 大小 */
    width: 90%;
    height: 500px;
    /* 背景颜色 */
    background-color: rgba(255, 255, 255, 0.8);
    /* 圆角 */
    border-radius: 10px;
    /* 外边距和内边距 */
    margin: 65px auto;
    padding: 15px 0px;
    /* 盒子的类型 */
    box-sizing: border-box;
}

.title {
    /* 字体: 种类, 字重, 大小 */
    font-family: 'consolas', 'Microsoft Yahei';
    font-weight: 600;
    font-size: 30px;
    /* 文字居中(左右居中) */
    text-align: center;
}

.input-module {
    /*  */
    display: flex;
    margin-top: 15px;
    justify-content: center;
}

.input-content {
    width: 60%;
    height: 50px;
    border: 1px, solid, #dfe1e5;
    outline: none;
    border-radius: 20px 0 0 20px;
    padding-left: 15px;
    font: 1em 'Microsoft Yahei';
}

.submit-button {
    width: 10%;
    height: 53px;
    font-family: 'Consolas';
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 53px;
    background: linear-gradient(
            to right,
            rgb(113, 65, 168),
            rgba(44, 114, 251, 1)
    );
    border-radius: 0px 20px 20px 0px;
    cursor: pointer;
    user-select: none;
}

.item {
    background-color: white;
    width: 70%;
    height: 50px;
    display: flex;
    margin: 20px 15%;
    padding: 10px 30px;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 20px;
    justify-content: space-between;
}

.item-content {
    display: flex;
}

.item-name {
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
    line-height: 8px;
}

.item-del {
    line-height: 25px;
    color: red;
    font-weight: 700;
    cursor: pointer;
}